@use "sass:map";
@use "sass:meta";

$background: (
  "main": #ffffff,
  "secondary": #eaeef4,
);

$heading: (
  "main": #1d1c39,
  "secondary": #0b0e1f,
);

$text: #494e6a;

$accent: (
  "main": #ff22b1,
  "secondary": #4461d7,
);

$error: #c60c0c;

@function get-color($source, $variant: "main") {
  @if meta.type-of($source) == "map" {
    @return map.get($source, $variant);
  }

  @return $source;
}
