


* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;}

body {
  font-family: 'Work Sans', sans-serif;
}

button{
  all: unset;
  cursor: pointer;


  font: inherit;
  color: inherit;


  display: inline-flex;
  align-items: center;
  justify-content: center;


  &:focus-visible {
    outline: 2px solid #4f46e5;
    outline-offset: 3px;
    border-radius: 6px;
  }
}